<div class="middle-inner">
    <div class="container">
        <div class="menuContainer">
            <div class="logoSide">
                
                <div class="logo">
                    <a routerLink="/"><img src="assets/plugins/images/icon.png" alt="logo"></a>
                </div>

            </div>

            <div class="featuresSide">

                <div class="info-box">
                    <mat-icon class="icon-shipping">local_shipping</mat-icon>
                    <div class="info-box-content">
                        <h4>LIVRAISON RAPIDE</h4>
                        <p>Livraison en 24 H maximum.</p>
                    </div>
                </div>

                <div class="info-box">
                    <mat-icon class="icon-us-dollar">monetization_on</mat-icon>
                    <div class="info-box-content">
                        <h4 >SATISFACTION</h4>
                        <p >Satisfaction 100% garantie.</p>
                    </div>
                </div>

                <div class="info-box">
                    <mat-icon class="icon-support">support_agent</mat-icon>
                    <div class="info-box-content">
                        <h4 >ASSISTANCE</h4>
                        <p >Assistance en ligne 24h/24 7j/7</p>
                    </div>
                </div>

            </div>

            <div class="right-bar">
                <!-- Search Form -->
                <div class="sinlge-bar" *ngIf = "moduleState.user">
                    <a href="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                </div>
                <div class="sinlge-bar" *ngIf = "moduleState.user">
                    <a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                </div>
                <div class="sinlge-bar shopping">
                    <a routerLink="/cart" class="single-icon"><i class="ti-bag"></i> <span class="total-count"> {{moduleState.cart.length}} </span></a>
                    <!-- Shopping Item -->
                    <!-- <div class="shopping-item">
                        <div class="dropdown-cart-header">
                            <span>2 Items</span>
                            <a href="#">View Cart</a>
                        </div>
                        <ul class="shopping-list">
                            <li>
                                <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                                <a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
                                <h4><a href="#">Woman Ring</a></h4>
                                <p class="quantity">1x - <span class="amount">$99.00</span></p>
                            </li>
                            <li>
                                <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                                <a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
                                <h4><a href="#">Woman Necklace</a></h4>
                                <p class="quantity">1x - <span class="amount">$35.00</span></p>
                            </li>
                        </ul>
                        <div class="bottom">
                            <div class="total">
                                <span>Total</span>
                                <span class="total-amount">$134.00</span>
                            </div>
                            <a href="checkout.html" class="btn animate">Checkout</a>
                        </div>
                    </div> -->
                    <!--/ End Shopping Item -->
                </div>

                <div class="sinlge-bar menu-icon">
                    <a (click) = "openMenu ()"  *ngIf= "!moduleState.menuOpened" class="single-icon"><i class="ti-menu" aria-hidden="true"></i></a>
                    <a (click) = "closeMenu ()"  *ngIf= "moduleState.menuOpened" class="single-icon"><i class="ti-close" aria-hidden="true"></i></a>
                    
                </div>

                
            </div>

            
        </div>

        <div class="mobile-nav"></div>
    </div>
</div>