<!-- Start Footer Area -->
<footer class="footer">
    <!-- Footer Top -->
    <div class="footer-top section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer about">
                       <p class="call">Des question? conteactez-nous 24/7<span><a href="tel:+2250779603291" target="_blank">+225 07 79 603 291</a></span></p>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                   
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer social">
                        <h4>Suivez-nous</h4>
                        
                        <!-- End Single Widget -->
                        <ul>
                            <li><a href="https://www.facebook.com/Chichouse-102753654588146/" target="_blank"><i class="ti-facebook"></i></a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Top -->
    <div class="copyright">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="left">
                            <p>Copyright © 2021 <a href="https://www.marx-nguessan.com" target="_blank">Marx N'Guessan</a>  -  Tous droits reservés.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /End Footer Area -->