 <!-- Topbar -->
 <div class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-12">
                <!-- Top Left -->
                <div class="top-left">
                    <ul class="list-main">
                        <li><a href="tel:+2250779603291" target="_blank"><i class="ti-headphone-alt"></i> 07 79 603 291</a></li>
                        <li><a href="mailto:assistance@thekingshops.com" target="_blank"><i class="ti-email"></i> assistance@thekingshops.com</a></li>
                    </ul>
                </div>
                <!--/ End Top Left -->
            </div>
            <!-- <div class="col-lg-7 col-md-12 col-12">
                <div class="right-content">
                    <ul class="list-main">
                        <li *ngIf = "moduleState.user"><i class="ti-user"></i> <a href="#">Mon compte</a></li>
                        <li *ngIf = "!moduleState.user"><i class="ti-power-off"></i><a href="login.html#">Connexion</a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- End Topbar -->